<% provide(:title, @project.name) %>

<h1>Project name: <%= @project.name %></h1>
<h2>Project catetory: <%= @project.category %></h2>
<h2>Project location: <%= @project.location %></h2>
<h2>Project description:</h2>
<%= @project.description %>
